<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2>Dose for <%= @cocktail.name %></h2>

      <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <!-- doing this links the review to the cocktail -->
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.submit class: 'btn btn-info' %>
      <% end %>

    </div>
  </div>
</div>
